@*@model m_FormPartial*@
@{
    ViewData["Title"] = "Assign 派單";
}

<div class="page-content">
    <div class="page-info container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">PDC - CNS平台</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Assign 派單</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class"row"="">
            <span style="color: #ffc107;">*功能仍在開發階段，尚未開放測試。</span>
        </div>
    </div>
    <div class="main-wrapper container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">查詢條件</p>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>是否為MB</label>
                                    <input type="email" class="form-control" placeholder="MB/Other" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>申請者狀態</label>
                                    <input type="email" class="form-control" placeholder="未指派/已指派/已完成/已抽單" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>查詢日期</label>
                                    <input type="email" class="form-control" placeholder=" ~ " disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>公司別</label>
                                    <input type="email" class="form-control" placeholder="QCI" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>事業群</label>
                                    <input type="email" class="form-control" placeholder="PDC" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>人員</label>
                                    <input type="email" class="form-control" placeholder="" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>PCB Layout Status</label>
                                    <input type="email" class="form-control" placeholder="New/Modify/RFQ" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>PCB Type</label>
                                    <input type="email" class="form-control" placeholder="Non-HDI/HDI/Anylayer/FPC/Rigid-flex" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Project</label>
                                    <input type="email" class="form-control" placeholder="XV1U" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Board Type</label>
                                    <input type="email" class="form-control" placeholder="MB" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Rev.</label>
                                    <input type="email" class="form-control" placeholder="A" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div style="padding-top: 10px;">
                                    <a href="#" class="btn btn-outline-info" style=" padding: 4px 25px;" id="mail-compose">查詢紀錄</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body" style="padding-bottom: 0px;">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="card-title">查詢結果</p>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col" style="">
                                                    <input type="checkbox" name="">
                                                    申請單號
                                                </th>
                                                <th scope="col" style="">單號順序</th>
                                                <th scope="col" style="">申請狀態</th>
                                                <th scope="col" style="">申請日期</th>
                                                <th scope="col" style="">公司別</th>
                                                <th scope="col" style="">事業群</th>
                                                <th scope="col" style="">
                                                    PCB Layout<br>Status
                                                </th>
                                                <th scope="col" style="">Project</th>
                                                <th scope="col" style="">Board Type</th>
                                                <th scope="col" style="">Rev.</th>
                                                <th scope="col" style="">PDC 負責人</th>
                                                <th scope="col" style="">處理結果</th>
                                                <th scope="col" style="">完成日期</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="">
                                                    <a href="@Url.Action("FormApply", "Form")">CN000015</a>
                                                </td>
                                                <td></td>
                                                <td>已完成</td>
                                                <td>
                                                    2020/10/05<br>
                                                    12:20:35
                                                </td>
                                                <td>QCI</td>
                                                <td>BU2</td>
                                                <td>New</td>
                                                <td>XV1U</td>
                                                <td>MB</td>
                                                <td>A</td>
                                                <td>
                                                    Roger Chao<br>
                                                    (趙偉智)/#10370
                                                </td>
                                                <td>Release</td>
                                                <td>
                                                    2020/10/06<br>
                                                    17:43:25
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="">
                                                    <a href="@Url.Action("FormApply", "Form")">CN000147</a>
                                                </td>
                                                <td>1</td>
                                                <td>處理中</td>
                                                <td>
                                                    2020/11/08<br>
                                                    15:12:32
                                                </td>
                                                <td>QCI</td>
                                                <td>BU10</td>
                                                <td>Modify</td>
                                                <td>C53</td>
                                                <td>AUDIO</td>
                                                <td>C</td>
                                                <td>
                                                    Roger Chao<br>
                                                    (趙偉智)/#10370
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="">
                                                    <a href="@Url.Action("FormApply", "Form")">CN000291</a>
                                                </td>
                                                <td></td>
                                                <td>未送件</td>
                                                <td></td>
                                                <td>QCI</td>
                                                <td>BU11</td>
                                                <td>New</td>
                                                <td>J51</td>
                                                <td>MB</td>
                                                <td>B</td>
                                                <td>
                                                    Roger Chao<br>
                                                    (趙偉智)/#10370
                                                </td>
                                                <td></td>
                                                <td></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="card-title">處理回覆</p>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>意見</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>處理人員</label>
                                            <input type="email" class="form-control" placeholder="QCI" disabled="disabled">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>附件</label>
                                            <div class="custom-file mb-3">
                                                <input type="file" class="custom-file-input" id="customFile" name="filename">
                                                <label class="custom-file-label" for="customFile" style="background-color: #1F2128; color: #adb5bd;">Choose file</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4">
                                        <div style="padding-top: 10px; padding-bottom: 15px; text-align: center;">
                                            <a href="#" class="btn btn-outline-warning" style=" padding: 4px 25px;" id="mail-compose">Assign</a>
                                            <a href="#" class="btn btn-outline-info" style=" padding: 4px 25px;" id="mail-compose">Reject</a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Main -->
    </div>

</div>

@section Styles{
    <!-- data tables css -->
    <link rel="stylesheet" href="~/assets/plugins/data-tables/css/datatables.min.css">
}

@section Scripts {
    <!-- datatable Js -->
    <script src="~/assets/plugins/data-tables/js/datatables.min.js"></script>
    <script src="~/assets/js/pages/tbl-datatable-custom.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

         

    </script>
}