@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> _userManager
@{
    var email = "";
    var user = await _userManager.GetUserAsync(User);
    if (user != null)
    {
        email = user.Email;
    }
}
<div class="m-header">
    <a class="mobile-menu" id="mobile-collapse1" href="#!"><span></span></a>
    <a href="/Identity/Account/Manage/Index" class="b-brand">
        <div class="b-bg">
            <i class="feather icon-trending-up"></i>
        </div>
        <span class="b-title">GoJazz Starter</span>
    </a>
</div>
<a class="mobile-menu" id="mobile-header" href="#!">
    <i class="feather icon-more-horizontal"></i>
</a>
<div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
        <li><a href="#!" class="full-screen" onclick="javascript:toggleFullScreen()"><i class="feather icon-maximize"></i></a></li>
        
    </ul>
    <ul class="navbar-nav ml-auto">

        <li>
            <div class="dropdown drp-user">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon feather icon-settings"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right profile-notification">
                    <div class="pro-head">
                        <img src="~/assets/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image">
                        <span>@email</span>
                        <form id="formSignout2" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Todo")">
                            <a href="javascript:void(0)" class="dud-logout" title="Logout" onclick="document.getElementById('formSignout2').submit();">
                                <i class="feather icon-log-out"></i>
                            </a>
                        </form>

                    </div>
                    <ul class="pro-body">
                        <li><a href="/Identity/Account/Manage/Index" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li>
                        <li><a href="/Identity/Account/Manage/ChangePassword" class="dropdown-item"><i class="feather icon-settings"></i> Change Password</a></li>
                        <li>
                            <form id="formSignout" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Todo")">
                                <a href="javascript:void(0)" class="dropdown-item" onclick="document.getElementById('formSignout').submit();">
                                    <i class="feather icon-lock"></i> Logout
                                </a>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>