@*@model m_FormPartial*@
@{
    ViewData["Title"] = "表單資訊";
}

<div class="page-content">
    <div class="page-info container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">PDC - CNS平台</a></li>
                        <li class="breadcrumb-item active" aria-current="page">表單申請</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="main-wrapper container">
        <!-- 表頭 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">@ViewData["Title"]</p>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>申請單編號</label>
                                    <input type="email" class="form-control" placeholder="(系統自動產生)" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>申請日期</label>
                                    <input type="email" class="form-control" placeholder="2020/10/23 12:00:00" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>申請單狀態</label>
                                    <input type="email" class="form-control" placeholder="未送件" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>公司別</label>
                                    <input type="email" class="form-control" placeholder="QCI" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>事業群</label>
                                    <input type="email" class="form-control" placeholder="PDC" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>申請者</label>
                                    <input type="email" class="form-control" placeholder="Roger Chao(趙偉智)/ #10370" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>PCB Layout Status</label>
                                    <input type="email" class="form-control" placeholder="New/RFQ/Modify" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>是否為MB</label>
                                    <div class="input-group" style="color:#adb5bd">
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled="">
                                            <label class="custom-control-label" for="exampleRadios3" style="padding-right: 10px;">
                                                MB
                                            </label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled="">
                                            <label class="custom-control-label" for="exampleRadios3">
                                                其他
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>PCB Type</label>
                                    <input type="email" class="form-control" placeholder="Non-HDI/HDI/Anylayer/FPC/Rigid-flex" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Project Name</label>
                                    <input type="email" class="form-control" placeholder="XV1U" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Board Type Name</label>
                                    <input type="email" class="form-control" placeholder="MB" disabled="disabled">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Rev.</label>
                                    <input type="email" class="form-control" placeholder="A" disabled="disabled">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-title">Constraint Files</p>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <span>1. BRD 壓縮檔(限制Zip格式)</span>
                                </div>
                                <div class="col-md-4">
                                    <div class="custom-file mb-3">
                                        <input type="file" class="custom-file-input" id="customFile" name="filename">
                                        <label class="custom-file-label" for="customFile" style="background-color: #1F2128; color: #adb5bd;">Choose file</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <a href="#">XV1U-brd.zip (2020/10/23)</a>
                                    <a href="#" alt="刪除"><i style="color: #f05154;" class="fas fa-trash-alt"></i></a>
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <span>2. Constraint Excel</span>
                                </div>
                                <div class="col-md-4">
                                    <div class="custom-file mb-3">
                                        <input type="file" class="custom-file-input" id="customFile" name="filename">
                                        <label class="custom-file-label" for="customFile" style="background-color: #1F2128; color: #adb5bd;">Choose file</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <a href="#">XV1U-cns.xlsx (2020/10/23)</a>
                                    <a href="#" alt="刪除"><i style="color: #f05154;" class="fas fa-trash-alt"></i></a>
                                </div>
                                <div class="col-md-2">
                                    <a href="#" class="btn btn-outline-success" style=" padding: 4px 25px;" id="mail-compose">開啟線上編輯</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <span>3. pstchip.dat</span>
                                </div>
                                <div class="col-md-4">
                                    <div class="custom-file mb-3">
                                        <input type="file" class="custom-file-input" id="customFile" name="filename">
                                        <label class="custom-file-label" for="customFile" style="background-color: #1F2128; color: #adb5bd;">Choose file</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <a href="#">pstchip.dat (2020/10/23)</a>
                                    <a href="#" alt="刪除"><i style="color: #f05154;" class="fas fa-trash-alt"></i></a>
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <span>4. pstxnet.dat</span>
                                </div>
                                <div class="col-md-4">
                                    <div class="custom-file mb-3">
                                        <input type="file" class="custom-file-input" id="customFile" name="filename">
                                        <label class="custom-file-label" for="customFile" style="background-color: #1F2128; color: #adb5bd;">Choose file</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <a href="#">pstxnet.dat (2020/10/23)</a>
                                    <a href="#" alt="刪除"><i style="color: #f05154;" class="fas fa-trash-alt"></i></a>
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <span>5. pstxprt.dat</span>
                                </div>
                                <div class="col-md-4">
                                    <div class="custom-file mb-3">
                                        <input type="file" class="custom-file-input" id="customFile" name="filename">
                                        <label class="custom-file-label" for="customFile" style="background-color: #1F2128; color: #adb5bd;">Choose file</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <a href="#">pstxprt.dat (2020/10/23)</a>
                                    <a href="#" alt="刪除"><i style="color: #f05154;" class="fas fa-trash-alt"></i></a>
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <span>6. 其他檔案</span>
                                </div>
                                <div class="col-md-4">
                                    <div class="custom-file mb-3">
                                        <input type="file" class="custom-file-input" id="customFile" name="filename">
                                        <label class="custom-file-label" for="customFile" style="background-color: #1F2128; color: #adb5bd;">Choose file</label>
                                    </div>
                                </div>
                                <div class="col-md-3" style="padding-bottom: 10px;">
                                    <li>
                                        <a href="#">ChangeLog.xlsx (2020/10/23)</a>
                                        <a href="#" alt="刪除"><i style="color: #f05154;" class="fas fa-trash-alt"></i></a>
                                    </li>
                                    <li>
                                        <a href="#">Kickoff.msg (2020/10/23)</a>
                                        <a href="#" alt="刪除"><i style="color: #f05154;" class="fas fa-trash-alt"></i></a>
                                    </li>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <span>意見</span>
                                </div>
                                <div class="col-md-4">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">增加減 Region</textarea>
                                </div>
                                <div class="col-md-3">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                                            增加減 Region
                                        </a>
                                        <a href="#" class="list-group-item list-group-item-action">增加減 TP、VIA</a>
                                        <a href="#" class="list-group-item list-group-item-action">其他</a>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <a href="#" class="btn btn-outline-success" style=" padding: 4px 25px;" id="mail-compose">暫存</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body" style="padding-bottom: 0px;">
                        <p class="card-title">Stackup</p>
                        <div class="row">
                            <div class="col-md-10"></div>
                            <div class="col-md-1" style="text-align: center;">
                                <br>unit: mil
                            </div>
                            <div class="col-md-1" style="text-align: center;">
                                總板厚<br>0.00
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" style="width: 5%;">Layer</th>
                                        <th scope="col" style="width: 15%;">疊構類別</th>
                                        <th scope="col" style="width: 10%;">Name</th>
                                        <th scope="col" style="width: 20%;">HIGH SPEED GROUP NAME</th>
                                        <th scope="col" style="width: 10%;">線寬</th>
                                        <th scope="col" style="width: 10%;">間距</th>
                                        <th scope="col" style="width: 15%;">疊構</th>
                                        <th scope="col" style="width: 10%;">板厚</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Solder Mask</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>L1</td>
                                        <td>Conductor</td>
                                        <td>TOP</td>
                                        <td>T</td>
                                        <td>5.00</td>
                                        <td>5.00</td>
                                        <td>Cu + Plating</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Dielectric</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>L2</td>
                                        <td>Plane</td>
                                        <td>SVCC</td>
                                        <td></td>
                                        <td>5.00</td>
                                        <td>5.00</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Dielectric</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>L3</td>
                                        <td>Conductor</td>
                                        <td>BOT</td>
                                        <td>B</td>
                                        <td>5.00</td>
                                        <td>5.00</td>
                                        <td>Cu + Plating</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Solder Mask</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-body">
                            <p class="card-title">Stackup 檢測</p>
                            <div class="row">
                                <div class="col-md-8">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">疊構有誤，請修正! (訊息：ooooo)</textarea>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="btn btn-outline-success" style=" padding: 4px 25px;" id="mail-compose">線上修改</a>
                                    <a href="#" class="btn btn-outline-warning" style=" padding: 4px 25px;" id="mail-compose">執行檢測</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-title">檢核結果</p>
                            <div class="row">
                                <div class="col-md-8">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Failed，錯誤訊息(xxxxx)</textarea>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="btn btn-outline-danger" style=" padding: 4px 25px;" id="mail-compose">下載錯誤明細</a>
                                    <a href="#" class="btn btn-outline-warning" style=" padding: 4px 25px;" id="mail-compose">送出申請</a>
                                    <a href="#" class="btn btn-outline-info" style=" padding: 4px 25px;" id="mail-compose">抽單</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PDC 處理結果 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">PDC 處理結果</p>
                        <div class="row">
                            <div class="col-md-4">
                                <label>處理人員</label>
                                <input type="email" class="form-control" placeholder="Roger Chao(趙偉智)/ #10370" disabled="disabled">
                            </div>
                            <div class="col-md-4">
                                <label>處理結果</label>
                                <input type="email" class="form-control" placeholder="Release" disabled="disabled">
                            </div>
                            <div class="col-md-4">
                                <label>簽核時間</label>
                                <input type="email" class="form-control" placeholder="2020/11/03 15:30" disabled="disabled">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label>簽核意見</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">請參考附檔</textarea>
                            </div>
                            <div class="col-md-4">
                                <label>附件</label>
                                <ul>
                                    <li>
                                        <a href="#">XV1U_A.docx</a>
                                        <a href="#" alt="刪除"><i style="color: #f05154;" class="fas fa-trash-alt"></i></a>
                                    </li>
                                    <li>
                                        <a href="#">補充說明.txt</a>
                                        <a href="#" alt="刪除"><i style="color: #f05154;" class="fas fa-trash-alt"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 表單紀錄 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">表單紀錄</p>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width: 5%;">序號</th>
                                        <th scope="col" style="width: 15%;">處理者</th>
                                        <th scope="col" style="width: 10%;">關卡</th>
                                        <th scope="col" style="width: 20%;">處理意見</th>
                                        <th scope="col" style="width: 10%;">附件</th>
                                        <th scope="col" style="width: 10%;">處理時間</th>
                                    </tr>
                                </thead>
                                <tbody class="thead-dark">
                                    <tr>
                                        <td>5</td>
                                        <td>Jason</td>
                                        <td>Assign</td>
                                        <td>注意，看附圖</td>
                                        <td>
                                            <ul style="text-align: left;">
                                                <li>
                                                    <a href="#">REMINDER.jpg</a>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>2020/11/01 15:30</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Mike Huang (黃培碩)</td>
                                        <td>Apply</td>
                                        <td>已修正</td>
                                        <td>
                                            <ul style="text-align: left;">
                                                <li>
                                                    <a href="#">BRD壓縮檔.zip</a>
                                                </li>
                                                <li>
                                                    <a href="#">CNS.xlsx</a>
                                                </li>
                                                <li>
                                                    <a href="#">pstchip.dat</a>
                                                </li>
                                                <li>
                                                    <a href="#">pstxnet.dat</a>
                                                </li>
                                                <li>
                                                    <a href="#">change_log.xlsx</a>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>2020/11/01 15:30</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Roger</td>
                                        <td>Work</td>
                                        <td>疊構不符</td>
                                        <td>
                                            <ul style="text-align: left;">
                                                <li>
                                                    <a href="#">截圖.jpg</a>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>2020/11/01 15:30</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Jason</td>
                                        <td>Assign</td>
                                        <td>注意，看附圖</td>
                                        <td>
                                            <ul style="text-align: left;">
                                                <li>
                                                    <a href="#">REMINDER.jpg</a>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>2020/11/01 15:30</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Mike Huang (黃培碩)</td>
                                        <td>Apply</td>
                                        <td>New</td>
                                        <td>
                                            <ul style="text-align: left;">
                                                <li>
                                                    <a href="#">BRD壓縮檔.zip</a>
                                                </li>
                                                <li>
                                                    <a href="#">CNS.xlsx</a>
                                                </li>
                                                <li>
                                                    <a href="#">pstchip.dat</a>
                                                </li>
                                                <li>
                                                    <a href="#">pstxnet.dat</a>
                                                </li>
                                                <li>
                                                    <a href="#">change_log.xlsx</a>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>2020/10/29 16:30</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Main -->
    </div>

</div>

@section Styles{
    <!-- data tables css -->
    <link rel="stylesheet" href="~/assets/plugins/data-tables/css/datatables.min.css">
}

@section Scripts {
    <!-- datatable Js -->
    <script src="~/assets/plugins/data-tables/js/datatables.min.js"></script>
    <script src="~/assets/js/pages/tbl-datatable-custom.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#HomeLink').DataTable({
                lengthChange: false,
                info: false,
                searching: false,
                scrollX: false,
                bPaginate: false, // 顯示換頁
                ordering: false,  // 是否顯示header排序

            });
            $('#PCBFileList').DataTable({
                lengthChange: false,
                info: false,
                searching: false,
                scrollX: false,
                bPaginate: false, // 顯示換頁
                ordering: false,  // 是否顯示header排序

            });

            $('#PCBParameterList').DataTable({
                lengthChange: false,
                info: false,
                searching: false,
                scrollX: false,
                bPaginate: false, // 顯示換頁
                ordering: false,  // 是否顯示header排序

            });


            var table = $('#HomeLink').DataTable();
            var dd = table.rows().data().toArray();

            $.each(dd, function (index, row) {
                row.order = index;
            });


        });

        $('input[id=HomeLinkFile]').change(function () {
            $('#HomeLinkFileLabel').text($(this).val());
        });

    </script>
}