@model List<Todo>
@{
    ViewData["Title"] = "Excel";
}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->
                <div class="page-header">
                    <div class="page-block">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="page-header-title">
                                    <h3 class="m-b-10">@ViewData["Title"]</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                @await Html.PartialAsync(PartialView.StatusMessage, TempData[StaticString.StatusMessage])
                            </div>
                            <!-- [ Form Validation ] start -->
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>List of Excel</h5>
                                    </div>
                                    <br />
                                    <div class="input-append">
                                        <label>範例檔案下載：</label>
                                        <input type="button" onclick="window.location.href='@Url.Action("DownloadSample", "Excel")'" value="範例下載" class="btn-primary" />
                                    </div>
                                    <div class="input-append">
                                        <label>驗證檔案上傳：</label>
                                        <input type="file" id="lefile" name="excel" multiple accept=".xls,.xlsx" style="display:none" />
                                        <input id="showCover" class="input-large" type="text" style="height:30px;" disabled="disabled">
                                        <a class="btn" onclick="$('input[id=lefile]').click();">搜尋</a>
                                        <input type="button" onclick="uploadFile()" id="uploadExcel" value="上傳" class="btn-primary" />
                                    </div>
                                    <br />
                                    <div class="input-append">
                                        <input type="button" onclick="AddRow()" id="uploadExcel" value="新增欄位" class="btn-success" />
                                        <input type="button" onclick="DeleteRow()" id="uploadExcel" value="刪除欄位" class="btn-success" />
                                    </div>


                                    <div class="card-block" id="ExcelDataTable">

                                    </div>
                                </div>


                            </div>
                            <!-- [ Form Validation ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- [ Main Content ] end -->


@section Styles{
    <!-- data tables css -->
    <link rel="stylesheet" href="~/assets/plugins/data-tables/css/datatables.min.css">
}

@section Scripts {
    <!-- datatable Js -->
    <script src="~/assets/plugins/data-tables/js/datatables.min.js"></script>
    <script src="~/assets/js/pages/tbl-datatable-custom.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {


        });

        $('input[id=lefile]').change(function () {
            $('#showCover').val($(this).val());
        });

        function GetTotal() {
            var table = $('#grid').DataTable();
            var dd = table.rows().data().toArray();
            var Sum = 0.00;
            $.each($('#grid > tbody > tr'), function (index, row) {
                var value = $(this).find('td').last().find('input').val();
                if ($.isNumeric(value))
                {
                    Sum += Number(value);
                }
            });
            $('#ThicknessTotal').text('總版厚:' + Sum.toFixed(2));
        }

        function uploadFile() {
            var formData = new FormData();
            formData.append('pId', $('#hidPId').val());
            formData.append('file', $('#lefile')[0].files[0]); // myFile is the input type="file" control

            var _url = '@Url.Action("UploadFile", "Excel")';

            $.ajax({
                url: _url,
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (result) {
                    $('#ExcelDataTable').html(result);

                    $('#grid').DataTable({
                        lengthChange: false,
                        info: false,
                        searching: false,
                        scrollX: true,
                        bPaginate: false, // 顯示換頁
                    });
                },
                error: function (jqXHR) {
                },
                complete: function (jqXHR, status) {
                }
            });
        }

        function SaveCheckFile() {
            var table = $('#grid').DataTable();
            var dd = table.rows().data().toArray();
            var data = new Array();

            $.each(dd, function (index,row) {
                $.each(row, function (colIndex,value) {
                    var StackupDetalList = {};
                    StackupDetalList.IndexNo = index;
                    StackupDetalList.Description = value;
                    StackupDetalList.StackupColumnID = colIndex;
                    data.push(StackupDetalList);
                });
            });
            var ViewModel = { StackupDetalList: data };

            var _url = '@Url.Action("SaveCheckFile", "Excel")';

            $.ajax({
                url: _url,
                type: 'POST',
                data: JSON.stringify(ViewModel),
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    //顯示訊息
                    $('#ErrorMsg').text(result);
                },
                error: function (jqXHR) {
                },
                complete: function (jqXHR, status) {
                }
            });
        }


        function AddRow() {
            if ($('#grid').length == 0) {
                alert("請先上傳驗證檔案");
                return;
            }
            var copyrow1 = $('#grid > tbody > tr').eq($('#grid > tbody > tr').length - 4).clone();
            copyrow1.find('td').each(function( index ){
                $(this).find('input').val('');
            });
            var copyrow2 = $('#grid > tbody > tr').eq($('#grid > tbody > tr').length - 3).clone();
            copyrow2.find('td').each(function( index ){
                $(this).find('input').val('');
            });
            var copyrow3 = $('#grid > tbody > tr').eq($('#grid > tbody > tr').length - 2).clone();
            var copyrow4 = $('#grid > tbody > tr').eq($('#grid > tbody > tr').length - 1).clone();


            $('#grid > tbody > tr')[$('#grid > tbody > tr').length - 2].remove();
            $('#grid > tbody > tr')[$('#grid > tbody > tr').length - 1].remove();

            $('#grid > tbody').append(copyrow1);
            $('#grid > tbody').append(copyrow2);
            $('#grid > tbody').append(copyrow3);
            $('#grid > tbody').append(copyrow4);
        }

        function DeleteRow() {
            if ($('#grid').length == 0) {
                alert("請先上傳驗證檔案");
                return;
            }

            if ($('#grid > tbody > tr').length <= 4) {
                alert("已沒可刪除資料");
                return;
            }

            $('#grid > tbody > tr').eq($('#grid > tbody > tr').length - 4).remove();
            $('#grid > tbody > tr').eq($('#grid > tbody > tr').length - 3).remove();
        }
    </script>
}


